.root {
    -fx-background-color: #585858;
}

.label {
    -fx-text-fill: #ffffff;
}

.radio-button {
    -fx-text-fill: #e8e8e8;
}

HBox, VBox {
    -fx-background: grey;
}

.scroll-pane {
    -fx-border-color: #585858;
    -fx-background: grey;
}

.choice-box .context-menu {
    -fx-background-color: grey;
}

.choice-box > .label {
    -fx-text-fill: black;
}